<ion-view view-title="Criar">
  <ion-content>
    <div class="list card">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Titulo da Enquete</span>
        <input ng-model="titulo" type="text" placeholder="Digite o titulo da enquete" ></input>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Texto</span>
        <input ng-model="texto" type="text" placeholder="Digite o Texto da enquete"></input>
      </label>
        <label class="item item-input item-stacked-label">
        <br>
       <span class="input-label">Opções</span>
       </label>
      <div class="item item-button-left" >
        <input type="text" placeholder="Digite a opção" ng-model="itemName">
        <button class="button button" ng-click="addItem(itemName)"><i class="icon ion-plus"></i> </button>
      </div>
      </label>
      <table>
        <tr ng-repeat="item in items" class="item-unchecked,">
          <td>
            <b><button class="button button" ng-click="removeItem($index)"> <i class="icon ion-minus-circled"></i> </button></b>{{item.texto}}
          </td>
        </tr>
      </table>

      <button class=" button button-dark  button-block icon-left  " ng-click="addEnquete()">Confirmar</button>
    </div>
  </ion-content>
</ion-view>
